body{
    margin: 0;
    padding: 0;
    font-family : montserrat;
    background: linear-gradient(120deg,#2980b9, #8e44ad);
    height: 100vh;
    overflow: hidden;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.center h1{
    text-align: center;
    padding: 5px 10px 5px 10px;
    border-bottom: 1px solid silver;
}
.center form{
    padding: 0px 25px 70px;
    box-sizing: border-box;
}

form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px, 0;
}

.field input[type="submit"]{
    margin: 30px;
    width: 80%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
.field input[type="submit"]:active{
    transform: scale(0.95);
  }

