{% extends "layout.html" %}
{% block content %}
    <header class="site-header" >
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" style="background:#134466; height: 65px "  >
        <div class="container">
            <font face="Comic Sans MS" >
                <b><h1  class="navbar-brand mr-4" style="font-size: 30px">Password Safe</h1></b></font>
                <div class="navbar-nav" >
            </div>
        </div>
      </nav>
    </header>
    <div class="content-section" style="margin-left:45%; margin-right:-5%; ">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group" style="margin-left:10%; margin-right:10%; margin-top:7%;">
                <legend class="border-bottom mb-4">Admin Login</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info", style="margin-left:auto;margin-right:auto;display:block;margin-top:3%;margin-bottom:7%") }}
            </div>
        </form>
    </div>
{% endblock content %}