
bcrypt
debugpy
decorator
Flask
gunicorn==20.1.0
h5py
html5lib
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
Jinja2
jinja2-time
joblib
json5
jsonschema
path
pathlib2
pathspec==0.7.0
Pillow==8.4.0
psutil
psycopg2==2.9.3
ptyprocess
py
pycodestyle
pycosat==0.6.3
pycparser
pycurl==7.44.1
pydocstyle
pyerfa
pyflakes
Pygments
PyJWT
pylint
pyls-spyder==0.4.0
PyNaCl
pyodbc===4.0.0-unsupported
pyOpenSSL
pyparsing
pyreadline==2.1
pyrsistent
PySocks
pytest==6.2.4
python-dateutil
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-slugify
pytz==2021.3
PyWavelets
pywin32==228
pywin32-ctypes
pywinpty
PyYAML==6.0
pyzmq
regex
requests
SQLAlchemy
testpath
text-unidecode
unicodecsv==0.14.1
Unidecode
urllib3==1.26.7
webencodings==0.5.1
Werkzeug
win-unicode-console==0.5
wincertstore==0.2
wrapt
xlrd
