bcrypt
debugpy
decorator
Flask
gunicorn==20.1.0
h5py
html5lib
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
Jinja2
jinja2-time
joblib
json5
jsonschema
path
pathlib2
pathspec==0.7.0
Pillow==8.4.0
psutil
psycopg2==2.9.3
python-slugify
requests
SQLAlchemy
testpath
text-unidecode
urllib3==1.26.7
Werkzeug
flask_sqlalchemy
flask_bcrypt
flask_login
flask_wtf
flask_login
wtforms
wtforms.validators
flask_admin
email_validator
